$color-charade-or-white: #ffffff;
$color-limeade-or-corn:#e3ac00;
$color-springWood:#f2f3e7;
$color-eastern-blue-or-red-orange:#ff4e33;
$color-charade-or-brightGray:#3b3f50;
$color-white:#ffffff;
$color-ghost-or-silverHand:#c9caca;
$color-limeade-or-galliano:#dea406;
$color-mariner-or-camelot:#912b53;
$color-white-or-charade:#21232e;

$backgroundImg:'../img/m-h-night.jpg';

$primaryFont:'Hind';
$secondaryFont:'Fresca';