$color-charade-or-white: #2c2f3c;
$color-limeade-or-corn:#699900;
$color-springWood:#f2f3e7;
$color-eastern-blue-or-red-orange:#14a0c7;
$color-charade-or-brightGray:#21232e;
$color-white:#ffffff;
$color-ghost-or-silverHand:#c0c3ce;
$color-limeade-or-galliano:#669608;
$color-mariner-or-camelot:#2f5dd0;
$color-white-or-charade:#ffffff;

$backgroundImg:'../img/m-h-day.jpg';

$primaryFont:'Hind';
$secondaryFont:'Source Sans Pro';